* {
  overflow: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
body {
  text-align: center;
  margin: 0px;
  font-family: "Lucida Handwriting", cursive;
}
.header {
  position: absolute;
  z-index: 10;
  color: rgb(163, 162, 162);
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#textContainer {
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#imageText {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px;
}
.fa {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

audio {
  width: 250px;
  height: 40px;
}

.audioPlayer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 15px;
}

audio::-webkit-media-controls-panel {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Removes the timeline */
/* audio::-webkit-media-controls-timeline {
  display: none !important;
} */

/* audio::-webkit-media-controls-current-time-display {
  display: none;
} */

audio::-webkit-media-controls-time-remaining-display {
  display: none;
}

@media screen and (max-width: 550px) {
  .audioPlayer {
    margin: 0;
    margin-right: 15px;
  }
}
